<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<!-- Configuración global de nivel de log -->
	<targets>
		<!-- Archivo de log con ruta relativa -->
		<target xsi:type="File" name="logfile" fileName="C:\Users\Lenovo\source\repos\ConsolaNet8\ConsoleExpert\logs\logfile_${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Nivel mínimo de log -->
		<logger name="*" minlevel="Info" maxlevel="Error" writeTo="logfile" />
		 
	</rules>
</nlog>